.box {
  border: 1px solid #43eefd;
  border-radius: 5px;
}
.name {
  color: #7f3301;
  text-align: center;
}
.box {
  padding: 10px;
}
.description,
.car_img {
  width: 300px;
}
.description {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.description_items {
  list-style-type: none;
  padding-left: 0;
}
.items {
  font-weight: bold;
}
.resume {
  font-style: italic;
}
.information,
.resume {
  text-align: center;
}

.card_box {
  -webkit-box-shadow: 5px 5px 8px 0px rgba(199, 193, 199, 1);
  -moz-box-shadow: 5px 5px 8px 0px rgba(199, 193, 199, 1);
  box-shadow: 5px 5px 8px 0px rgba(199, 193, 199, 1);
  width: 300px;
  -webkit-animation: rotating 5s linear 2s 4 alternate; /* Safari 4.0 - 8.0 */
  animation: rotating 5s linear 2s 4 alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(30deg);
  }
  50% {
    -webkit-transform: rotateY(60deg);
  }
  75% {
    -webkit-transform: rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}

/* Standard syntax */
@keyframes rotating {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(30deg);
  }
  50% {
    transform: rotateY(60deg);
  }
  75% {
    transform: rotateY(30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
